:root{
  --section-overlay:  rgb(0, 0, 0,0.7);
  --background-overlay: rgb(0, 0, 0,0.2) ;
}
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.app{
  width: 100%;
  height: auto;
  background-position: center;
  background-size: cover;
}
.overlay{
  width: 100%;
  height: 100vh;
  background-color: var(--background-overlay);
}
.container{
  max-width: 800px;
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem;
}
.section{
  width: 100%;
  padding: 1rem;
  border-radius: 0.4rem;
  color: white;
}
.section__inputs, .section_temperature{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--section-overlay);
}
/* .section_temperature{
  background-color: aqua;
} */

 .section__inputs > input{
  border: 0.8px solid white;
  border-radius: 0.4rem;
  background-color: transparent;
  color: white;
  padding: 0.5rem;
  font-size: 20px;
  font-weight: 200;
  width: 80%;
 }
 .section__inputs>input:focus{
  outline: none;
 }
 .section__inputs>button{
  padding: 10px 50px;
  border: none;
  border-radius: 00.04rem;
  font-size: 20px;
  font-weight: 500;
  background-color: white;
  border-radius: 15px;

 }
 .section__inputs>button:hover{
    cursor: pointer; 
  background-color: white;
  
  
 }
 .icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }

 .icon>h3{
  font-size: 22px;
  font-weight: 200;
  text-transform: capitalize;
 }
 .icon>img{
 width: 90%;
 height: 25vh;
 }
.temperature>h1{
  font-size: 60px;
}

